<md-dialog aria-label="" class="edit-dialog">
  <md-content layout="column" layout-align="center center">
  	<h2>{{title}}</h2>
  	<md-divider></md-divider>
	<form name="editForm" layout="column" class="edit-form" 
		ng-include="templateUrl">
		
    </form>
  </md-content>

  <md-divider></md-divider>
  <div layout="row" layout-align="center center">
    <md-button class="md-raised md-warn" ng-click="cancel()">取消</md-button>
    <md-button class="md-raised md-primary" ng-click="ok()">确认</md-button>
  </div>
</md-dialog>
