<div class="table-responsive-vertical md-whiteframe-z1">
  <md-toolbar class="md-table-toolbar md-default md-padding search" >
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>年份</label>
        <input type="number" ng-model="query.lotteryYear">
      </md-input-container>
      <md-input-container flex>
        <label>期数</label>
        <input type="number" ng-model="query.lotteryPeriod">
      </md-input-container>
      <md-input-container flex>
        <label>特码</label>
        <input type="number" ng-model="query.lotteryCode">
      </md-input-container>
      <md-input-container layout layout-align="end start">
        <md-button class="md-raised " ng-click="queryItems(true)">
          <i class="material-icons md-light">search</i>
          <span>查询</span>
        </md-button>
        <md-button class="md-raised" ng-click="createItem()">
          <i class="material-icons md-light">add</i>
          <span>新增</span>
        </md-button>
      </md-input-container>
    </div>
  </md-toolbar>

  <md-toolbar class="md-table-toolbar alternate" >
    <div class="md-toolbar-tools">
      <span ng-show="selectedItems.length">已选中{{selectedItems.length}}行</span>
      <span ng-show="!selectedItems.length">请选中数据再进行操作</span>
      <span flex></span>
       <md-button class="md-raised md-warn" ng-click="batchDeleteItem()" ng-disabled="!selectedItems.length">
         <i class="material-icons md-light">delete</i>
         <span>批量删除</span>
       </md-button>
    </div>
  </md-toolbar>

  <md-table-container>
    <table md-table fixed-header md-row-select="tableOptions.rowSelection" multiple="{{tableOptions.multiSelect}}" ng-model="selectedItems" class="table table-hover table-bordered" md-progress="promise">
      <thead md-head md-order="query.order" md-on-reorder="queryItems">
        <tr md-row>
          <th md-column ng-repeat="col in tableCols" md-order-by="{{col.orderBy}}" >{{col.name}}</th>
          <th md-column>操作</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="item" x-md-auto-select="tableOptions.autoSelect" ng-repeat="item in tableData">
          <td md-cell ng-repeat="col in tableCols"><nobr><span dynamic-bind="col.id" dynamic-bind-pre="item"></span></nobr></td>
          <td md-cell>
            <div class="md-button-group">
              <md-button class="md-raised md-primary" ng-click="updateItem(item.detailId)">
                <i class="material-icons md-light">edit</i>
                <span>编辑</span>
              </md-button>
              <md-button class="md-raised md-warn" ng-click="deleteItem(item.detailId)">
                <i class="material-icons md-light">delete</i>
                <span>删除</span>
              </md-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination class="table-pagination" md-label="{{tableOptions.label}}" md-limit="query.limit" md-limit-options="tableOptions.limitOptions" md-page="query.page" md-total="{{totalItems}}" md-on-paginate="queryItems" md-page-select="tableOptions.pageSelect"></md-table-pagination>
</div>

<script type="text/ng-template" id="lottery-detail-edit.html">
    	<md-input-container flex>
        	<label>年份</label>
        	<input type="number" ng-model="formData.lotteryYear">
        </md-input-container>

		<md-input-container flex>
        	<label>期数</label>
        	<input type="number" ng-model="formData.lotteryPeriod">
        </md-input-container>

		<md-input-container flex>
        	<label>号码1</label>
        	<input type="number" ng-model="formData.lotteryN1">
        </md-input-container>

		<md-input-container flex>
        	<label>号码2</label>
        	<input type="number" ng-model="formData.lotteryN2">
        </md-input-container>

		<md-input-container flex>
        	<label>号码3</label>
        	<input type="number" ng-model="formData.lotteryN3">
        </md-input-container>

		<md-input-container flex>
        	<label>号码4</label>
        	<input type="number" ng-model="formData.lotteryN4">
        </md-input-container>

		<md-input-container flex>
        	<label>号码5</label>
        	<input type="number" ng-model="formData.lotteryN5">
        </md-input-container>

		<md-input-container flex>
        	<label>号码6</label>
        	<input type="number" ng-model="formData.lotteryN6">
        </md-input-container>

		<md-input-container flex>
        	<label>特码</label>
        	<input type="number" ng-model="formData.lotteryCode">
        </md-input-container>

</script>
  
