<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2 md-sidenav-left">
  <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2 bar-xs">
    <md-button layout="row" layout-align="center center" class="md-toolbar-tools md-warn" ng-href="javascript:void(0);" >
      <h5>后台管理</h5>
    </md-button>
  </md-toolbar>
  <md-button ng-repeat-start="item in menuItems" layout="column" layout-align="center center"
        flex class="capitalize" ng-click="selectItem(item)" ui-sref-active="md-warn" ui-sref="{{item.sref}}">
    <div hide-sm class="md-tile-content">
        <i class="material-icons md-36">{{item.icon}}</i>
    </div>
    <div class="md-tile-content">
        {{item.name}}
    </div>
  </md-button>
  <md-divider ng-repeat-end></md-divider>
  <md-button ng-click="showSystemNote($state)" layout-align="center center">
    <div class="md-tile-content">
      </span>系统说明</span>
    </div>
  </md-button>
</md-sidenav>

<div layout="column" flex>
  <md-toolbar layout="row" layout-align="center center" class="md-primary">
    <section layout-align="start center" layout-fill flex>
      <md-button hide-gt-sm ng-click="toggleMenuList()" aria-label="Menu">
          <i class="material-icons">menu</i>
      </md-button>
    </section>
    <section layout-align="end center">
      <md-button class="toolbar-button md-raised" aria-label="settings" ng-click="setWeiboParams()">
        <i class="material-icons">settings</i>
        <span>微博配置</span>
      </md-button>
      <md-button class="toolbar-button md-raised" aria-label="message" ng-click="sendWeibo()">
        <i class="material-icons">message</i>
        <span>发送微博</span>
      </md-button>
    </section>
  </md-toolbar>

  <md-content flex class="md-padding page-content">
    <div ui-view></div>
  </md-content>
</div>


<script type="text/ng-template" id="weibo-params-edit.html">
      <md-input-container flex>
      	<label>微博Token</label>
        <input ng-model="formData.accessToken">
      </md-input-container>

      <md-input-container flex>
      	<label>微博信息共享URL</label>
        <input ng-model="formData.shareUrl">
      </md-input-container>
</script>


<script type="text/ng-template" id="weibo-send.html">
      <md-input-container flex>
        <label>微博信息</label>
        <textarea ng-model="formData.content" md-maxlength="120" ng-required="true"></textarea>
      </md-input-container>
      
</script>