<div class="table-responsive-vertical md-whiteframe-z1">
  <md-toolbar class="md-table-toolbar md-default md-padding search" >
    <div layout layout-sm="column">
      <md-input-container flex flex-gt-sm="45">
        <label>会员卡号</label>
        <input ng-model="query.cardNum">
      </md-input-container>
      <md-input-container flex>
        <label>异常时间</label>
        <input ng-model="choiceDatetime" md-datetime-range start-choice="query.errorBeginDateTime" end-choice="query.errorEndDateTime" dt-confirm="confirmDate(startChoice, endChoice)">
        </input>
      </md-input-container>
    </div>
    <div layout layout-sm="column" >
      <md-input-container flex flex-gt-sm="45">
        <label>单据号</label>
        <input type="datetime" ng-model="query.billVoucher">
      </md-input-container>
        
      <md-input-container flex>
        <label>数据类型</label>
        <md-select ng-model="query.dataType">
          <md-option ng-repeat="item in dataTypes" ng-value="item.id" > {{item.value}}</md-option>
        </md-select>
      </md-input-container>
    
      <md-input-container  layout layout-align="end start">
        <md-button class="md-raised" ng-click="queryItems(true)">
          <i class="material-icons md-light">search</i>
          <span>查询</span>
        </md-button>
        <md-button class="md-raised" ng-click="resetQuery()">
          <i class="material-icons md-light">refresh</i>
          <span>重置</span>
        </md-button>
      </md-input-container>
    </div>
  </md-toolbar>

  <md-toolbar class="md-table-toolbar alternate" >
    <div class="md-toolbar-tools">
      <span ng-show="selected.length">已选中{{selected.length}}行</span>
      <span flex></span>
       <md-button class="md-raised" ng-click="retry()">
         <i class="material-icons md-light">check</i>
         <span>重传</span>
      </md-button>
      <md-button class="md-raised" ng-click="exportExcel()">
          <i class="material-icons md-light">file_download</i>
          <span>导出</span>
        </md-button> 
     
    </div>
  </md-toolbar>

  <md-table-container>
    <table md-table fixed-header md-row-select="tableOptions.rowSelection" multiple="{{tableOptions.multiSelect}}" ng-model="selected" class="table table-hover table-bordered" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="queryItems">
        <tr md-row>
            <th md-column ng-repeat="col in tableCols" md-order-by="{{col.orderBy}}" >{{col.name}}</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="item" md-select-id="uploaderrorid" x-md-auto-select="tableOptions.autoSelect" ng-repeat="item in tableData">
            <td md-cell ng-repeat="col in tableCols"><nobr><span dynamic-bind="col.id" dynamic-bind-pre="item"></span></nobr></td>
        </tr>
        </tbody>
    </table>
  </md-table-container>

  <md-table-pagination class="table-pagination" md-label="{{tableOptions.label}}" md-limit="query.limit" md-limit-options="tableOptions.limitOptions" md-page="query.page" md-total="{{totalItems}}" md-on-paginate="queryItems" md-page-select="tableOptions.pageSelect"></md-table-pagination>
</div>