<div class="table-responsive-vertical md-whiteframe-z1" ng-controller="StockDetailController">
  <md-toolbar class="md-table-toolbar md-default md-padding search" >
    <div layout layout-sm="column">
	  <md-input-container flex>
        <label>股票编码</label>
        <input ng-model="query.stockCode">
      </md-input-container>
      <md-input-container flex>
        <label>股票名称</label>
        <input ng-model="query.stockName">
      </md-input-container>
      <md-input-container flex>
        <label>交易时间</label>
        <md-datetime dt-type="date-range"  start-choice="query.stockDateBegin" end-choice="query.stockDateEnd" dt-q-select="qSelectRange"></md-datetime>
      </md-input-container>
      <md-input-container layout layout-align="end start">
        <md-button class="md-raised " ng-click="queryItems()">
          <i class="material-icons md-light">search</i>
          <span>查询</span>
        </md-button>
      </md-input-container>
    </div>
  </md-toolbar>

  <md-table-container>
    <table md-table class="table table-hover table-bordered" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="queryItems" >
        <tr md-row>
            <th md-column ng-repeat="col in tableCols" md-order-by="{{col.orderBy}}" >{{col.name}}</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="item" ng-repeat="item in tableData">
            <td md-cell ng-repeat="col in tableCols"><nobr><span dynamic-bind="col.id" dynamic-bind-pre="item"></span></nobr></td>
        </tr>
        </tbody>
    </table>
  </md-table-container>

  <md-table-pagination class="table-pagination" md-label="{{tableOptions.label}}" md-limit="query.limit" md-limit-options="tableOptions.limitOptions" md-page="query.page" md-total="{{totalItems}}" md-on-paginate="queryItems" md-page-select="tableOptions.pageSelect"></md-table-pagination>
</div>

